<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kichukkhon.android.travelpartner">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:name=".VolleyAppController.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TravelPartnerTheme">

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDy3pjTryOxN4S3KZpRyRsGY1egBKkoxns" />
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activity.TourListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TourEntryDetailsActivity"
            android:parentActivityName=".Activity.TourEntryDestinationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.TourEntryDestinationActivity" />
        </activity>
        <activity android:name=".Activity.TourDetailsActivity" />
        <activity
            android:name=".Activity.TourEntryDestinationActivity"
            android:parentActivityName=".Activity.TourListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.TourListActivity" />
        </activity>
        <activity android:name=".Activity.AlarmActivity" />
        <activity android:name=".Activity.NearbyPlacesHomeActivity" />
        <activity android:name=".Activity.ExpenseInfoActivity" />
        <activity android:name=".Activity.Places_list" />
        <activity android:name=".Activity.WeatherActivity" />
        <activity android:name=".Activity.RouteListActivity" />
        <activity
            android:name=".Activity.RouteMapActivity"
            android:parentActivityName=".Activity.RouteListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.RouteListActivity" />
        </activity>
        <activity
            android:name=".Activity.NoteEntryActivity"
            android:parentActivityName=".Activity.NoteListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.NoteListActivity" />
        </activity>
        <activity android:name=".Activity.NoteListActivity" />

        <receiver android:name=".BroadcastReceiver.AlarmReceiver" />
        <receiver
            android:name=".BroadcastReceiver.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".BackgroundService.AlarmService" />
        <service
            android:name=".BackgroundService.LocationTrackerService"
            android:exported="false" />

        <activity
            android:name=".Activity.NoteDetailsActivity"
            android:parentActivityName=".Activity.NoteListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.NoteListActivity" />
        </activity>
        <activity
            android:name=".Activity.DisplayImageActivity"
            android:parentActivityName=".Activity.PhotoGalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.PhotoGalleryActivity" />
        </activity>
        <activity android:name=".Activity.PhotoGalleryActivity">

        </activity>
    </application>

</manifest>